.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Perfecto centrado vertical y horizontal */
    width: 90%;
    max-width: 500px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}