<ion-header [translucent]="true">
  <ion-toolbar>
<!--    <ion-title>Universal Wikis Utopia</ion-title> -->

    <ion-buttons slot="end">
      <ion-button routerLink="/">Inicio</ion-button>
      <ion-button routerLink="/login">Login</ion-button>
      <ion-button routerLink="/wikis">Wikis</ion-button>
      <ion-button routerLink="/favorites">Favoritos</ion-button>
      <ion-button routerLink="/gestion">Gestion</ion-button>
      <ion-button routerLink="/profile">Yo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
