.Botones {
    --border-color: #4B0082;  
    --border-width: 3px;     
    --background: transparent;
    --color: #4B0082;        
    --border-style: solid;    
}

.Botones:hover {
    --background: #4B0082;
    --color: white;
}